.app {
  text-align: center;
}

.app_form {
  padding: 20px;
  display: flex;
  flex-direction: row;
  background: #e9e9eb;
  position: fixed;
  bottom: 20px;
  width: 100%;
  z-index: 10;
}

.app_formcontrol {
  width: 50%;
  display: flex !important;
  flex-direction: row !important;
}

.app_input {
  flex: 1;
}
